@model MillenniumCalendar.SP_buscar_actividad_idResult

@{
    Layout = "~/Views/Shared/Layout_2.cshtml";
    ViewBag.eliminar = @Html.DisplayFor(model => model.nombre_actividad);
    ViewBag.estado = @Html.DisplayFor(model => model.estado_actividad);
}

<div>
    <h4 class="text-center">Inhabilitar actividad</h4>
    <h5 class="text-center">¿Está seguro que desea inhabilitar el registro de <span class="nombre-eliminar">@ViewBag.eliminar</span>?</h5>
    <hr />

    <div class="cont-eliminar">
        <dl class="dl-horizontal">


            <dt>
                Nombre actividad:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombre_actividad)
            </dd>

            <dt>
                Inicio:
            </dt>

            <dd>
                @Convert.ToDateTime(Model.fecha_inicio).ToString("dd/MM/yyyy")
            </dd>

            <dt>
                Fin:
            </dt>

            <dd>
                @Convert.ToDateTime(Model.fecha_final).ToString("dd/MM/yyyy")
            </dd>

            <dt>
                Descripción:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.descripcion)
            </dd>

            <dt>
                Estado:
            </dt>

            <dd>
                @{
                    if (ViewBag.estado.ToString() == "A ")
                    {
                        @Html.DisplayName("Activo");
                    }
                    else
                    {
                        @Html.DisplayName("Inactivo");
                    }
                }
            </dd>

        </dl>
    </div>
        

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-colo text-center">
                <input type="submit" value="Eliminar actividad" class="btn btn-default" /> |
                @Html.ActionLink("Volver a listar todas las actividades", "Index", "Actividades")
            </div>
        }
    </div>
